</main>

<footer class="w-100 border-top pt-3 bg-dark"
style="position: fixedd;left: 0;bottom: 0;width: 100%;text-align: center; margin-bottom: -20px;">
<div class="d-lg-flex justify-content-between">
    <div class="mx-3">
        <span>DoneDex</span>
    </div>
    <div class="copyright">
        <p>&#9881; Developed and maintained by <strong>&#8499;S&#8499;</strong></p>
    </div>
    <div>
        <ul class="d-flex gap-3 list-unstyled">
            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram"></i></a></li>
        </ul>
    </div>
</div>
</footer>
</body>
</html>