/* for alternate colors of li-items on index page */
li.even {
  background-color: lightgray;
}

li.odd {
  background-color: darkgray;
}
/* to remove the button from the anchor tag inside the li-items of todos on index page */
.btn{
    --bs-btn-border-width: none!important;
}

/* for single todo hover effect on index page*/
.list-group-item{
    transition: transform 0.2s;
    border: none!important;
}
.list-group-item:hover{
    transform: scale(1.05);

    /* ;) for the dark color effect >.< */
    opacity: 0.5;
}

.todo-description{
    font-size: x-large;
    /* border: 1px solid white; */
    /* display: inline; */
    border-radius: 8px;
}
.edit-h1{
    border-top: 5px solid white;
}